@using Test2.Models

@model List<BinhLuan>
@{
    ViewBag.Title = "BinhLuan";
}


    <div class="product-details-area pt-120 pb-115">
        <div class="description-review-wrapper pb-110">
            <div class=" container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="des-details4" class="tab-pane">
                            <div class="review-wrapper">
                                <h2>Review khách hàng</h2>
                                @foreach (var item in Model)
                                {
                                    <div class="single-review">
                                        <div class="review-img">
                                            <img src="assets/images/product-details/client-1.png" alt="">
                                        </div>
                                        <div class="review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-name">
                                                    <h3><span> @item.TenNguoiBL</span> - (@item.NgayLap)</h3>
                                                </div>
                                                @*<div class="review-rating">
                            <i class="yellow icon_star"></i>
                            <i class="yellow icon_star"></i>
                            <i class="yellow icon_star"></i>
                            <i class="yellow icon_star"></i>
                            <i class="yellow icon_star"></i>
                        </div>*@
                                            </div>
                                            <p>@item.NoiDung</p><br />
                                        </div>
                                    </div>
                                }

                                </div>

                                
                            @using (Html.BeginForm())
                            {
                                <div class="ratting-form-wrapper">

                                    <h2>Bình luận</h2>

                                    <div class="ratting-form">
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="rating-form-style mb-20">
                                                        <label>Name <span>*</span></label>
                                                        <input value="@Session["UserName1"]" name="ten" type="text">
                                                    </div>
                                                </div>
                                                <div hidden>
                                                    <input value="@Session["masp"]" name="masp" type="text">
                                                </div>
                                                    
                                                
                                                    @*
            <div class="col-lg-6 col-md-6">
                <div class="rating-form-style mb-20">
                    <label>Email <span>*</span></label>
                    <input type="email">
                </div>
            </div>*@

                                                    <div class="col-md-12">
                                                        <div class="rating-form-style mb-20">
                                                            <label>Your review <span>*</span></label>
                                                            <textarea name="noidung" placeholder="Bình luận..."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="form-submit">
                                                            <input type="submit" value="Gửi">
                                                        </div>
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            }
                                
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>