@using Test2.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>

@{ ViewBag.Title = "Trang chủ";
    Layout = "~/Views/_Layout.cshtml"; }
@*Đây là trang quảng cáo*@
<div class="slider-area">
    <div class="container">
        <div id="slide">
        <div class="hero-slider-active-1 nav-style-2 dot-style-2 dot-style-2-position-1 dot-style-2-active-black">
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg" style="background-image: url(/images/CafeLayout/banner6.jpg); width: 1170px; height :285px ">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg" style="background-image: url(/images/CafeLayout/BeanLayout1.jpg); width: 1170px; height: 285px">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap slider-height-1 custom-d-flex custom-align-item-center bg-img hm2-slider-bg" style="background-image: url(/images/CafeLayout/banner.png); width: 1170px; height: 285px">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slider-content-2 slider-animated-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*---------------------------------*@


@*--------Sản Phẩm Mới-------*@
@*<div class="product-area pt-115 pb-110">
        <div class="container">
            <div class="section-title-2 text-center mb-45">
                <h2><span>Sản Phẩm Mới</span></h2>
                <p>Các mẫu hàng mới vừa được nhập về mà bạn có thể sẽ thích</p>
            </div>
            <div class="product-slider-active dot-style-2 dot-style-2-position-static dot-style-2-mrg-1 dot-style-2-active-black">
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="product-details.html">
                                <img src="~/images/CafeProduct/CafeCherry290x230.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="product-details.html"><span class="blod">Cà phê</span> gói <span class="available-product">(56)</span></a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="product-details.html">
                                <img src="~/images/CafeProduct/CafeCherry290x230.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="product-details.html"><span class="blod">Cà phê</span> hạt <span class="available-product">(55)</span></a></h3>
                        </div>
                    </div>
                </div>
                <div class="product-plr-1">
                    <div class="single-product-wrap mb-35">
                        <div class="product-img product-img-zoom mb-20">
                            <a href="product-details.html">
                                <img src="~/images/CafeProduct/CafeCherry290x230.png" alt="">
                            </a>
                        </div>
                        <div class="product-content-2 text-center">
                            <h3><a href="product-details.html"><span class="blod">Món khác</span><span class="available-product">(56)</span></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
@*--------Sản Phẩm Mới-------*@
<div class="product-area pt-115 pb-110">
    <div class="container">
        <div class="section-title-2 text-center mb-45">
            <h2><span>New</span> Arrivals</h2>
            <p>Các loại cà phê mới nhập của quán</p>
        </div>
        @Html.Action("CafeHot","Home")
    </div>
</div>

<!--Begin_Sản Phẩm HOT-->
<div class="product-area pb-80">
    <div class="container">
        <div class="deal-area pt-150 pb-130 bg-img" style="background-image: url(/images/CafeLayout/BeanLayout1.jpg)">
            <div class="container">
                @*<div class="deal-content-1">
                    <span>deal of the day</span>
                    <h2><span>50% OFF</span> Basic <br>Tee Flavor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
                    <div class="timer-wrap">
                        <h4>Expires in:</h4>
                        <div class="timer-style-1" id="timer-1-active"></div>
                    </div>
                    <div class="deal-btn">
                        <a href="product-details.html">Buy now</a>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="section-title-2 text-center mb-45">
            <h2 style="padding-top:30px">Sản Phẩm <span>HOT</span></h2>
            <p>Các loại cà phê có danh số hàng đầu hiện tại.</p>
        </div>
        <div class="tab-btn-wrap mb-40">
            <div class="btn-style-2">
                <a class="animated" href="@Url.Action("SanPham","Home")">Xem tất cả <i class="icon-arrow-right"></i></a>
            </div>
        </div>
        <div class="tab-content jump">
            <div id="product-1" class="tab-pane active">
                <div class="row">
                    @foreach (var caphe in Model)
                    {

                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">
                                        <img alt="@caphe.TenSP" src="~/images/CafeProduct/@caphe.HinhAnh" width="200" />
                                    </a>
                                    @*<div class="product-action-2 tooltip-style-2">
                                        <button title="Yêu Thích"><i class="icon-heart"></i></button>
                                        <button title="Xem Nhanh" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                        <button title="So Sánh"><i class="icon-refresh"></i></button>
                                    </div>*@
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <h3><a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">@caphe.TenSP</a></h3>
                                    <div class="product-price-2">
                                        <p><span>@String.Format("{0:0,0}", caphe.GiaTien)</span>đ</p>
                                    </div>
                                </div>

        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="single-product-wrap mb-35">
                <div class="product-img product-img-zoom mb-15">
                    <a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">
                        <img alt="@caphe.TenSP" src="~/images/CafeProduct/@caphe.HinhAnh" width="270" height="340"  />
                    </a>
                    @*<div class="product-action-2 tooltip-style-2">
                        <button title="Yêu Thích"><i class="icon-heart"></i></button>
                        <button title="Xem Nhanh" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                        <button title="So Sánh"><i class="icon-refresh"></i></button>
                    </div>*@
                </div>
                <div class="product-content-wrap-2 text-center">
                    <h3><a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">@caphe.TenSP</a></h3>
                    <div class="product-price-2">
                        <p><span>@String.Format("{0:0,0}", caphe.GiaTien)</span>đ</p>
                    </div>
                </div>


                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <h3><a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">@caphe.TenSP</a></h3>
                                    <div class="product-price-2">
                                        <p><span>@String.Format("{0:0,0}", caphe.GiaTien)</span>đ</p>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <a href="@Url.Action("Themgiohang", "Giohang", new { @sMaSP = caphe.MaSP , @strURL=Request.Url.ToString() })">
                                            <button title="Thêm Vào Giỏ Hàng">Thêm Vào Giỏ Hàng</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!--End_Sản Phẩm HOT-->}
                </div>
            </div>
        </div>
        @*Quảng cáo trà*@
        <div class="deal-area pt-150 pb-130 bg-img" style="background-image: url(/images/banner/BannerTra.jpg)">
            <div class="container">
                @*<div class="deal-content-1">
                    <span>deal of the day</span>
                    <h2><span>50% OFF</span> Basic <br>Tee Flavor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipis elit. Nunc imperdiet, nulla.</p>
                    <div class="timer-wrap">
                        <h4>Expires in:</h4>
                        <div class="timer-style-1" id="timer-1-active"></div>
                    </div>
                    <div class="deal-btn">
                        <a href="product-details.html">Buy now</a>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="blog-area pt-115">
            <div class="container">
                <div class="section-title-2 text-center mb-45">
                    <h2><span>Xanh</span> & Tra</h2>
                    <p>Các dòng sản phẩm trà xanh hiện tại đang bán</p>
                </div>
                @Html.Action("Tra", "Home")
            </div>
        </div>
        <div class="blog-area pt-115">
            <div class="container">
                <div class="section-title-2 text-center mb-45">
                    <h2><span>Tin Vắn</span> & Blog</h2>
                    <p>Những tin tức thứ vị về đời sống và cà phê</p>
                </div>
                @Html.Action("BlogKT", "Home")
            </div>
        </div>
        <!-- TRa ...........................-->
        <div class="blog-area pt-115">
            <div class="container">
                <div class="section-title-2 text-center mb-45">
                    <h2><span>Xanh</span> & Tra</h2>
                    <p>Tra Xanh XAnh Xanh</p>
                </div>
                @Html.Action("Tra", "Home")
            </div>
        </div>

        <div class="pro-pagination-style text-center mt-10">
            Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
        </div>
    </div>
</div>



<!-- All JS is here
============================================ -->

<script src="~/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="~/js/vendor/jquery-3.5.1.min.js"></script>
<script src="~/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="~/js/vendor/bootstrap.bundle.min.js"></script>
<script src="~/js/plugins/slick.js"></script>
<script src="~/js/plugins/jquery.syotimer.min.js"></script>
<script src="~/js/plugins/jquery.instagramfeed.min.js"></script>
<script src="~/js/plugins/jquery.nice-select.min.js"></script>
<script src="~/js/plugins/wow.js"></script>
<script src="~/js/plugins/jquery-ui-touch-punch.js"></script>
<script src="~/js/plugins/jquery-ui.js"></script>
<script src="~/js/plugins/magnific-popup.js"></script>
<script src="~/js/plugins/sticky-sidebar.js"></script>
<script src="~/js/plugins/easyzoom.js"></script>
<script src="~/js/plugins/scrollup.js"></script>
<script src="~/js/plugins/ajax-mail.js"></script>

<!-- Use the minified version files listed below for better performance and remove the files listed above
<script src="~/js/vendor/vendor.min.js"></script>
<script src="~/js/plugins/plugins.min.js"></script>  -->
<!-- Main JS -->
<script src="~/js/main.js"></script>

<link rel="stylesheet" href="~/css/vendor/vendor.min.css">
<link rel="stylesheet" href="~/css/plugins/plugins.min.css">
<link rel="stylesheet" href="~/css/style.min.css">
