@using Test2.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "Loại cà phê";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="product-area pb-80">
    <div class="container">
        <div class="tab-content jump">
            <div id="product-1" class="tab-pane active">
                <div class="row">
                    @foreach (var caphe in Model)
                    {
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="single-product-wrap mb-35">
                                <div class="product-img product-img-zoom mb-15">
                                    <a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">
                                        <img alt="@caphe.TenSP" src="~/images/CafeProduct/@caphe.HinhAnh" width="200" />
                                    </a>
                                    <div class="product-action-2 tooltip-style-2">
                                        <button title="Yêu Thích"><i class="icon-heart"></i></button>
                                        <button title="Xem Nhanh" data-toggle="modal" data-target="#exampleModal"><i class="icon-size-fullscreen icons"></i></button>
                                        <button title="So Sánh"><i class="icon-refresh"></i></button>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 text-center">
                                    <h3><a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">@caphe.TenSP</a></h3>
                                    <div class="product-price-2">
                                        <p><span>@String.Format("{0:0,0}", caphe.GiaTien) đ</span></p>
                                    </div>
                                </div>
                                <div class="product-content-wrap-2 product-content-position text-center">
                                    <h3><a href="@Url.Action("Details","Home",new{ id = caphe.MaSP})">@caphe.TenSP</a></h3>
                                    <div class="product-price-2">
                                        <p><span>@String.Format("{0:0,0}", caphe.GiaTien) đ</span></p>
                                    </div>
                                    <div class="pro-add-to-cart">
                                        <button title="Thêm Vào Giỏ Hàng">Thêm Vào Giỏ Hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="pro-pagination-style text-center mt-10">
            Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
            <ul>
                @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
            </ul>
        </div>
    </div>
</div>