@model Test2.Models.SuKien

@{
    ViewBag.Title = "Chi tiết Blog";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
<h2>Chi Tiết Blog</h2>

<div>
    <h4>Sự Kiện</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt style=" width:160px">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            <img src="@Url.Content("~/images/BlogPicture/"+ Model.HinhAnh)" width="150" />
        </dd>

        <dt style=" width:160px">
            Tiêu đề bài viết :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt style=" width:160px">
            Mô tả:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt style=" width:160px">
            Ngày đăng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt style=" width:160px">
            Tình trạng:
        </dt>
        <dd>
        @if (@Model.Status == true)
        {
            <d>Đang sử dụng</d>
        }
        else
        {
            <d>Ngưng sử dụng</d>
        }
        </dd>
        <dt style=" width:160px">
            Mô tả chi tiết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaChiTiet)
        </dd>

        <dt style=" width:160px">
            Mô tả thêm:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaThem)
        </dd>

        <dt style=" width:160px">
            Hình ảnh 1:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/BlogPicture/"+ Model.HinhAnhChiTiet)" width="150" />
        </dd>

        <dt style=" width:160px">
            Hình ảnh 2:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/BlogPicture/"+ Model.HinhAnhChiTietThem)" width="150" />
        </dd>

        <dt style=" width:160px">
            Hình 3:
        </dt>

        <dd>
            <img src="@Url.Content("~/images/BlogPicture/"+ Model.HinhAnhTongQuat)" width="150" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa ", "SuaBlog", new { id = Model.MaSK }) |
    @Html.ActionLink("Quay lại", "BlogList")
</p>
</div>