@model IEnumerable<Test2.Models.DonHang>



@{ ViewBag.Title = "DonHang";
                Layout = "~/Views/_LayoutAdmin.cshtml"; }


<div id="page-wrapper">
    <h3>
        THÔNG TIN HÓA ĐƠN
    </h3>
    <p>
        @using (Html.BeginForm("Export", "Admin", FormMethod.Post))
        {
            <input type="submit" value="Xuất Excel" class="btn btn-success" />}

    </p>
    <div class="mobile-search mobile-header-padding-border-1">
        @using (Html.BeginForm("TimHoaDon", "Admin", FormMethod.Post))
        {
            <form class="search-form" action="TimHoaDon">
                <input name="txtTimKiem" type="text" placeholder="Tìm kiếm hóa đơn…">
                <button class="button-search"><i class="fa fa-search"></i></button>
            </form>
        }

    </div>
    <table class="table" width="300px">
        <tr>
        <tr>
            <th style="width:300px">
                Mã Đơn Hàng
            </th>
            <th style="width:300px">
                Mã Khách Hàng
            </th>
            <th style="width:300px">
                Tên Khách Hàng
            </th>

            <th style="width:300px">
                Ngày Lập
            </th>
            <th style="width:300px">
                Ngày Giao:
            </th>
            <th style="width:300px">
                Địa Chỉ:
            </th>
            <th style="width:300px">
                Ghi Chú:
            </th>
            <th style="width:300px">
                Trạng Thái:
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ChiTiet","Admin", new {MaDH = item.MaDH})">
                        @Html.DisplayFor(modelItem => item.MaDH)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.HoVaTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                @if (item.Status == true)
                {
                    <td>Đã thanh toán</td>
                }
                else
                {
                    <td style="color:red">Chưa thanh toán</td>
                }

            </tr>
        }
    </table>
</div>