@using Test2.Models
@using PagedList.Mvc
@model PagedList.PagedList<Test2.Models.LoaiSP>

@{
    ViewBag.Title = "ListLoaiSP";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <h2>Danh sách loại sản phẩm</h2>

    <p>
        @Html.ActionLink("Thêm Loại", "ThemLoaiSP")
    </p>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tình trạng</th>
                                <th>Thể Loại</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Xóa", "XoaLoaiSP", new { id = item.MaLoaiSP })
                    </td>
                </tr>
}
                        </tbody>
                    </table>
                </div>
                <div class="pro-pagination-style">
                    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
                    <ul>
                        @Html.PagedListPager(Model, page => Url.Action("ListLoaiSP", new { page = page }))
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>