@model IEnumerable<Test2.Models.KhachHang>

@{
    ViewBag.Title = "QuanLyKH";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <h2>Thông tin khách hàng</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Tên Đăng nhập</th>
                                <th>PassWord     </th>
                                <th>Họ và Tên    </th>
                                <th>Email        </th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ      </th>
                                <th>Ngày sinh    </th>
                                <th>Tình trạng     </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PassWord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoVaTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgaySinh)
                                    </td>
                                    @if (item.Status == true){<td>Sẵng sàng</td>}else{<td>Bị khóa</td>}
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.MaKH }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.MaKH }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.MaKH })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
