@model IEnumerable<Test2.Models.KhachHang>

@{
    ViewBag.Title = "Quản lý khách hàng";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <h2>Thông tin khách hàng</h2>
    <div class="#">
        <div class="#">
            <div class="#">
                <div class="#">
                    <table class="table">
                            <tr>
                                <th>Tên Đăng nhập</th>
                                <th>PassWord     </th>
                                <th>Họ và Tên    </th>
                                <th>Email        </th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ      </th>
                                <th>Ngày sinh    </th>
                                <th>Tình trạng     </th>
                            </tr>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PassWord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoVaTen)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgaySinh)
                                    </td>
                                    @if (item.Status == true){<td style="color:green">Sẵng sàng</td>}else{<td style="color:red">Bị khóa</td>}
                                    <td>
                                        @Html.ActionLink("chỉnh sửa", "FixKhachHang", new { id = item.MaKH }, new { @class = "btn btn-warning", style = "width:90px" }) 
                                        @Html.ActionLink("Xóa", "XoaKh", new { id = item.MaKH }, new { @class = "btn btn-danger", style = "width:90px" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
