@model Test2.Models.SuKien

@{
    ViewBag.Title = "SuaBlog";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <h2>SuaBlog</h2>

    @using (Html.BeginForm("SuaBlog", "Admin",FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>SuKien</h4>
    <hr />
    <input type="text" name="Mã Sự kiện" value="@Model.MaSK" hidden />

    <div class="form-group">
        @Html.LabelFor(model => model.TieuDe, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoTa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="MoTa" rows="5">@Model.MoTa</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayDang, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="NgayDang" /> Ngày hiện tại chọn: @Model.NgayDang
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.MoTaChiTiet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="MoTaChiTiet" rows="5">@Model.MoTaChiTiet</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MoTaThem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="MoTaThem" rows="5">@Model.MoTaThem</textarea>
        </div>
    </div>

    <div class="form-group">
        <label>Hình 1</label>
        <img src="~/images/BlogPicture/@Model.HinhAnh" alt="Alternate Text" style="width:200px;height:300px;border: solid 1px gray" />
        <label>Hình 2</label>
        <img src="~/images/BlogPicture/@Model.HinhAnhChiTiet" alt="Alternate Text" style="width:200px;height:300px;border: solid 1px gray" />
        <label>Hình 3</label>
        <img src="~/images/BlogPicture/@Model.HinhAnhChiTietThem" alt="Alternate Text" style="width:200px;height:300px;border: solid 1px gray" />
        <label>Hình 4</label>
        <img src="~/images/BlogPicture/@Model.HinhAnhTongQuat" alt="Alternate Text" style="width:200px;height:300px;border: solid 1px gray" />
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="ImageUpload">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnhChiTiet, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="ImageUpload">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnhChiTietThem, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="ImageUpload">
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnhTongQuat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" class="form-control" name="ImageUpload">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
    }
    <div>
        @Html.ActionLink("Quay Về", "BlogList")
    </div>
</div>