@model Test2.Models.SALE

@{
    ViewBag.Title = "ThemSale";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
<h2>Thêm Sale</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SALE</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mã Sale</strong></div>
        <div class="col-md-10">
         @Html.TextBox("txtIDSALE")
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Tên sự kiện sale</strong></div>
        <div class="col-md-10">
            @Html.TextBox("txtTenSale")
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mô tả</strong></div>
        <div class="col-md-10">
            @Html.TextBox("txtMoTa")
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Ngày Áp Dụng</strong></div>
        <div class="col-md-10">
            <input type="date" name="ngayBD" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Ngày Kết Thúc</strong></div>
        <div class="col-md-10">
            <input type="date" name="ngayKT" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mức độ Sale</strong></div>
        <div class="col-md-10">
            <input type="number" min="0" max="100" name="mucSale" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Trạng thái</strong></div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.status, new SelectList(new[]
       {
           new { Value ="true",Text = "còn áp dụng"},
           new { Value ="flase",Text = "Hết áp dụng"},
       },
       "Value",
       "Text",
       Model
       ))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo sale" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("quay về trang", "ListSale")
</div>
</div>