@model Test2.Models.SanPham

@{
    ViewBag.Title = "ThemSP";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    <h2>Thêm sản phẩm</h2>
    @using (Html.BeginForm("ThemSP", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mã sản phẩm</strong></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2"><strong>Tên sản phẩm</strong></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mô tả</strong></div>
        <div class="col-md-10">
            <textarea name="MoTa" rows="5">Mô tả thông tin sản phẩm</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Giá tiền</strong></div>
        <div class="col-md-10">
            <input type="number" min="0" name="GiaTien" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Ngày đăng</strong></div>
        <div class="col-md-10">
            <input type="date" name="NgayDang" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Trọng Lượng</strong></div>
        <div class="col-md-10">
            <input type="number" min="0" name="TrongLuong" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Hạn sử dụng</strong></div>
        <div class="col-md-10">
            <input type="date" name="HSD" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Ngày sản xuất</strong></div>
        <div class="col-md-10">
            <input type="date" name="NSX" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mã loại</strong></div>
        <div class="col-md-10">
            @Html.DropDownList("MaLoaiSP")
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Nhà cung cấp</strong></div>
        <div class="col-md-10">
            @Html.DropDownList("MaNCC")
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Tên Sự Kiện Sale</strong></div>
        <div class="col-md-10">
            @Html.DropDownList("saleID")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ProductUpload" />
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HinhAnhMoTa, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="ProductUpload" />
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><strong>Mô tả</strong></div>
        <div class="col-md-10">
            <textarea name="MoTaThem" rows="5">Mô tả thông tin sản phẩm</textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="control-label col-md-2"><strong>Trạng thái</strong></div>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Status, new SelectList(new[]
       {
           new { Value ="true",Text = "Còn hàng"},
           new { Value ="flase",Text = "Hết hàng"},
       },
       "Value",
       "Text",
       Model
       ))
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm sản phẩm" class="btn btn-success" />
        </div>
    </div>
</div>
        <div>
            @Html.ActionLink("Về trang quản lý", "Cafe")
        </div>

    }
</div>
