@model Test2.Models.SanPham

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <h3>Bạn có chắc muốn xóa sản phẩm này không ?</h3>
    <div>
        <h4>Sản phẩm chuẩn bị xóa</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt style="width:160px">Tên sản phẩm</dt>

            <dd>
                @Html.DisplayFor(model => model.TenSP)
            </dd>

            <dt style="width:160px">Mô tả</dt>

            <dd>
                @Html.DisplayFor(model => model.MoTa)
            </dd>

            <dt style="width:160px">Giá tiền</dt>

            <dd>
                @String.Format("{0:0:0}", Model.GiaTien) VNĐ
            </dd>

            <dt style="width:160px">Ngày đăng</dt>

            <dd>
                @Html.DisplayFor(model => model.NgayDang)
            </dd>

            <dt style="width:160px">Trọng Lượng</dt>

            <dd>
                @Html.DisplayFor(model => model.TrongLuong)
            </dd>

            <dt style="width:160px">Hạn sử dụng</dt>

            <dd>
                @Html.DisplayFor(model => model.HSD)
            </dd>

            <dt style="width:160px">Ngày sản xuất</dt>

            <dd>
                @Html.DisplayFor(model => model.NSX)
            </dd>

            <dt style="width:160px">Mã loại</dt>

            <dd>
                @Model.LoaiSP.TenLoai
            </dd>

            <dt style="width:160px">Mã nhà cung cấp</dt>

            <dd>
                @Model.NhaCungCap.TenNCC
            </dd>

            <dt style="width:160px">Hình</dt>

            <dd>
                <img src="@Url.Content("~/images/CafeProduct/"+ Model.HinhAnh)" width="150" />
            </dd>

            <dt style="width:160px">Tình trạng</dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

        </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về danh sách","Cafe")
        </div>
    }
</div>
</div>
