@model IEnumerable<Test2.Models.DonHang>

@{
    ViewBag.Title = "Đơn hàng chưa giao";
    Layout = "~/Views/_Layout2.cshtml";
}


<div id="page-wrapper" style=" padding-left:200px; padding-top: 50px; padding-right: 100px; padding-bottom: 100px">
    <h3>
        LỊCH SỬ MUA HÀNG
    </h3>
    <table>
        <tr>

            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đã thanh toán", "DonHangDTT", new { }, new { @class = "btn btn-info" })
                </p>
            </th>
            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Chưa thanh toán", "DonHangCTT", new { }, new { @class = "btn btn-danger" })
                </p>
            </th>
            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đơn hàng tồn tại", "DonHangTonTai", new { }, new { @class = "btn btn-info" })
                </p>
            </th>
            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đơn hàng bị hủy", "DonHangBiHuy", new { }, new { @class = "btn btn-danger" })
                </p>
            </th>

            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đơn hàng đang giao", "DonHangDangGiao", new { }, new { @class = "btn btn-warning" })
                </p>
            </th>
            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đơn hàng đã giao", "DonHangDaGiao", new { }, new { @class = "btn btn-info" })
                </p>
            </th>
            <th style="padding-top: 9px; padding-left: 5px">
                <p>
                    @Html.ActionLink("Đơn hàng chưa giao", "DonHangChuaGiao", new { }, new { @class = "btn btn-danger" })
                </p>
            </th>
        </tr>
    </table>
    <p>

    </p>
    <table class="table" width="300px">
        <tr>
        <tr>
            <th style="width:300px">
                Mã Đơn Hàng
            </th>
            <th style="width:300px">
                Mã Khách Hàng
            </th>
            <th style="width:300px">
                Tên Khách Hàng
            </th>

            <th style="width:300px">
                Ngày Lập
            </th>
            <th style="width:300px">
                Ngày Giao
            </th>
            <th style="width:300px">
                Địa Chỉ Giao
            </th>
            <th style="width:300px">
                Ghi Chú
            </th>
            <th style="width:300px">
                Thanh toán
            </th>

            <th style="width:300px">
                Trạng Thái
            </th>
            <th style="width:300px">
                Giao hàng
            </th>
            <th style="width:300px">
                Xử lý đơn hàng
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("ChiTiet","Admin", new {MaDH = item.MaDH})">
                        @Html.DisplayFor(modelItem => item.MaDH)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KhachHang.HoVaTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayGiao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                @if (item.Status == true)
                {
                    <td>Đã thanh toán</td>
                }
                else
                {
                    <td style="color:red">Chưa thanh toán</td>
                }
                @if (item.Status2 == false)
                {
                    <td style="color:red">Đã hủy</td>
                }
                else
                {
                    <td>Tồn tại</td>
                }


                @if (item.giaohang == "DGH")
                {
                    <td style="color: green"> Đã giao hàng</td>
                }
                @if (item.giaohang == "CGH")
                {
                    <td style="color: red"> Chưa giao hàng</td>
                }
                @if (item.giaohang == "DVC")
                {
                    <td style="color: blue"> Đang giao hàng</td>
                }
                @if (item.giaohang == null)
                {
                    <td></td>
                }





                <td>
                    @if (item.giaohang == "DGH")
                    {
                        <a style="color:darkgreen"> Đơn hàng đã giao thành công</a>
                    }
                    else
                    {
                        if (item.Status2 == false)
                        {

                            <a class="btn btn-success" style="width: 120px" href="@Url.Action("LSFix", "NguoiDung", new { id = item.MaDH })">Khôi phục</a>
                        }
                        else
                        {

                            if (item.Status == true)
                            {
                                <a href="~/Home/LienHe"><i style="color: blue">Liên hệ với chủ shop để hủy đơn hàng</i> </a>

                            }
                            else
                            {
                                <a class="btn btn-danger" style="width: 120px" href="@Url.Action("LSFix", "NguoiDung", new { id =item.MaDH})">Hủy đơn</a>
                            }

                        }
                    }


                </td>

            </tr>
        }

    </table>
</div>